<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail lettter</title>
</head>
<body>
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-md-6 offset-md-3">
                {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endfor %}
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <input class="btn btn-info btn-block" type="submit" value="Send Message">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>